/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */
@tailwind utilities;

/* Resets */
body, html {
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Montserrat', serif;
}

.font-fancy {
  font-family: 'Sansita Swashed', sans-serif;
}
